.acf-field-separation .acf-label {
	display: none;
}

.acf-field-object-separation tr[data-name="name"], 
.acf-field-object-separation tr[data-name="label"], 
.acf-field-object-separation tr[data-name="instructions"], 
.acf-field-object-separation tr[data-name="required"], 
.acf-field-object-separation tr[data-name="warning"], 
.acf-field-object-separation tr[data-name="wrapper"] {
    display: none !important;
}

.acf-field-separation hr {
	border:0;
    border-top: 1px dotted #aaa;
    margin: 4em 0 2em;
}